---
http_interactions:
- request:
    method: post
    uri: https://identity.api.rackspacecloud.com/v2.0/tokens
    body:
      encoding: UTF-8
      string: '{"auth":{"RAX-KSKEY:apiKeyCredentials":{"username":"<rackspace-login>","apiKey":"<rackspace-api-token>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token: []
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"access":{"token":{"id":"3139066374984c4ca8fa88f33e0c97fa","expires":"2013-06-07T12:10:26.714-05:00","tenant":{"id":"833532","name":"833532"}},"serviceCatalog":[{"name":"cloudFiles","endpoints":[{"region":"ORD","tenantId":"MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd","publicURL":"https:\/\/storage101.ord1.clouddrive.com\/v1\/MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd","internalURL":"https:\/\/snet-storage101.ord1.clouddrive.com\/v1\/MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd"},{"region":"DFW","tenantId":"MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd","publicURL":"https:\/\/storage101.dfw1.clouddrive.com\/v1\/MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd","internalURL":"https:\/\/snet-storage101.dfw1.clouddrive.com\/v1\/MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd"}],"type":"object-store"},{"name":"cloudFilesCDN","endpoints":[{"region":"ORD","tenantId":"MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd","publicURL":"https:\/\/cdn2.clouddrive.com\/v1\/MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd"},{"region":"DFW","tenantId":"MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd","publicURL":"https:\/\/cdn1.clouddrive.com\/v1\/MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd"}],"type":"rax:object-cdn"},{"name":"cloudBlockStorage","endpoints":[{"region":"ORD","tenan[...]
- request:
    method: post
    uri: https://ord.servers.api.rackspacecloud.com/v2/833532/servers
    body:
      encoding: UTF-8
      string: '{"server":{"name":"divine-reef","imageRef":"9922a7c7-5a42-4a56-bc6a-93f857ae2346","flavorRef":2,"minCount":1,"maxCount":1,"networks":[{"uuid":"00000000-0000-0000-0000-000000000000"},{"uuid":"11111111-1111-1111-1111-111111111111"}]}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 3139066374984c4ca8fa88f33e0c97fa
  response:
    status:
      code: 202
      message: 
    headers:
      Location:
      - https://ord.servers.api.rackspacecloud.com/v2/833532/servers/fc421f5c-d5c0-4757-80a5-317b80d6a699
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-26a4fce0-0ebd-4fc5-a142-0ca3a6608384
    body:
      encoding: UTF-8
      string: '{"server": {"OS-DCF:diskConfig": "AUTO", "id": "fc421f5c-d5c0-4757-80a5-317b80d6a699",
        "links": [{"href": "https://ord.servers.api.rackspacecloud.com/v2/833532/servers/fc421f5c-d5c0-4757-80a5-317b80d6a699",
        "rel": "self"}, {"href": "https://ord.servers.api.rackspacecloud.com/833532/servers/fc421f5c-d5c0-4757-80a5-317b80d6a699",
        "rel": "bookmark"}], "adminPass": "FbJurjqHAP2D"}}'
  recorded_at: Thu, 06 Jun 2013 19:27:00 GMT
- request:
    method: get
    uri: https://ord.servers.api.rackspacecloud.com/v2/833532/servers/fc421f5c-d5c0-4757-80a5-317b80d6a699
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 3139066374984c4ca8fa88f33e0c97fa
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-a18ebb40-28c6-4e09-a2f8-9ae80e38da99
    body:
      encoding: UTF-8
      string: '{"server": {"status": "BUILD", "updated": "2013-06-06T19:27:00Z", "hostId":
        "", "addresses": {}, "links": [{"href": "https://ord.servers.api.rackspacecloud.com/v2/833532/servers/fc421f5c-d5c0-4757-80a5-317b80d6a699",
        "rel": "self"}, {"href": "https://ord.servers.api.rackspacecloud.com/833532/servers/fc421f5c-d5c0-4757-80a5-317b80d6a699",
        "rel": "bookmark"}], "image": {"id": "9922a7c7-5a42-4a56-bc6a-93f857ae2346",
        "links": [{"href": "https://ord.servers.api.rackspacecloud.com/833532/images/9922a7c7-5a42-4a56-bc6a-93f857ae2346",
        "rel": "bookmark"}]}, "OS-EXT-STS:task_state": "scheduling", "OS-EXT-STS:vm_state":
        "building", "flavor": {"id": "2", "links": [{"href": "https://ord.servers.api.rackspacecloud.com/833532/flavors/2",
        "rel": "bookmark"}]}, "id": "fc421f5c-d5c0-4757-80a5-317b80d6a699", "user_id":
        "10038092", "name": "divine-reef", "created": "2013-06-06T19:26:59Z", "tenant_id":
        "833532", "OS-DCF:diskConfig": "AUTO", "accessIPv4": "", "accessIPv6": "",
        "progress": 0, "OS-EXT-STS:power_state": 0, "metadata": {}}}'
  recorded_at: Thu, 06 Jun 2013 19:27:01 GMT
[...]
- request:
    method: get
    uri: https://ord.servers.api.rackspacecloud.com/v2/833532/servers/fc421f5c-d5c0-4757-80a5-317b80d6a699
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 3139066374984c4ca8fa88f33e0c97fa
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-595ee291-da0a-4729-be8b-1b3801842b9d
    body:
      encoding: UTF-8
      string: '{"server": {"status": "BUILD", "updated": "2013-06-06T19:27:29Z", "hostId":
        "466862cdb0f793edbd6d481880b74aa00c75b64384bb99588ba1862e", "addresses": {"public":
        [{"version": 4, "addr": "198.61.167.27"}, {"version": 6, "addr": "2001:4801:7817:0072:aa50:10b5:ff10:d098"}],
        "private": [{"version": 4, "addr": "10.177.15.28"}]}, "links": [{"href": "https://ord.servers.api.rackspacecloud.com/v2/833532/servers/fc421f5c-d5c0-4757-80a5-317b80d6a699",
        "rel": "self"}, {"href": "https://ord.servers.api.rackspacecloud.com/833532/servers/fc421f5c-d5c0-4757-80a5-317b80d6a699",
        "rel": "bookmark"}], "image": {"id": "9922a7c7-5a42-4a56-bc6a-93f857ae2346",
        "links": [{"href": "https://ord.servers.api.rackspacecloud.com/833532/images/9922a7c7-5a42-4a56-bc6a-93f857ae2346",
        "rel": "bookmark"}]}, "OS-EXT-STS:task_state": "block_device_mapping", "OS-EXT-STS:vm_state":
        "building", "flavor": {"id": "2", "links": [{"href": "https://ord.servers.api.rackspacecloud.com/833532/flavors/2",
        "rel": "bookmark"}]}, "id": "fc421f5c-d5c0-4757-80a5-317b80d6a699", "user_id":
        "10038092", "name": "divine-reef", "created": "2013-06-06T19:27:01Z", "tenant_id":
        "833532", "OS-DCF:diskConfig": "AUTO", "accessIPv4": "", "accessIPv6": "",
        "progress": 0, "OS-EXT-STS:power_state": 0, "metadata": {}}}'
  recorded_at: Thu, 06 Jun 2013 19:27:36 GMT
[...]
- request:
    method: get
    uri: https://ord.servers.api.rackspacecloud.com/v2/833532//servers/fc421f5c-d5c0-4757-80a5-317b80d6a699/metadata
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 3139066374984c4ca8fa88f33e0c97fa
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-b3294845-8901-470f-8a88-67c451e37b6b
    body:
      encoding: UTF-8
      string: '{"metadata": {}}'
  recorded_at: Thu, 06 Jun 2013 19:31:55 GMT
recorded_with: VCR 2.5.0
