---
http_interactions:
- request:
    method: post
    uri: https://identity.api.rackspacecloud.com/v2.0/tokens
    body:
      encoding: UTF-8
      string: '{"auth":{"RAX-KSKEY:apiKeyCredentials":{"username":"<rackspace-login>","apiKey":"<rackspace-api-token>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token: []
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"access":{"token":{"id":"3139066374984c4ca8fa88f33e0c97fa","expires":"2013-06-07T12:10:26.714-05:00","tenant":{"id":"833532","name":"833532"}},"serviceCatalog":[{"name":"cloudFiles","endpoints":[{"region":"ORD","tenantId":"MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd","publicURL":"https:\/\/storage101.ord1.clouddrive.com\/v1\/MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd","internalURL":"https:\/\/snet-storage101.ord1.clouddrive.com\/v1\/MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd"},{"region":"DFW","tenantId":"MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd","publicURL":"https:\/\/storage101.dfw1.clouddrive.com\/v1\/MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd","internalURL":"https:\/\/snet-storage101.dfw1.clouddrive.com\/v1\/MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd"}],"type":"object-store"},{"name":"cloudFilesCDN","endpoints":[{"region":"ORD","tenantId":"MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd","publicURL":"https:\/\/cdn2.clouddrive.com\/v1\/MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd"},{"region":"DFW","tenantId":"MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd","publicURL":"https:\/\/cdn1.clouddrive.com\/v1\/MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd"}],"type":"rax:object-cdn"},{"name":"cloudDatabases","endpoints":[{"region":"DFW","tenantId":"833532","publicURL":"https:\/\/dfw.databases.api.rackspacecloud.com\/v1.0\/833532"},{"region":"ORD","tenantId":"833532","publicURL":"https:\/\/ord.databases.api.rackspacecloud.com\/v1.0\/833532"}],"type":"rax:database"},{"name":"cloudMonitoring","endpoints":[{"tenantId":"833532","publicURL":"https:\/\/monitoring.api.rackspacecloud.com\/v1.0\/833532"}],"type":"rax:monitor"},{"name":"cloudBlockStorage","endpoints":[{"region":"DFW","tenantId":"833532","publicURL":"https:\/\/dfw.blockstorage.api.rackspacecloud.com\/v1\/833532"},{"region":"ORD","tenantId":"833532","publicURL":"https:\/\/ord.blockstorage.api.rackspacecloud.com\/v1\/833532"}],"type":"volume"},{"name":"cloudServers","endpoints":[{"tenantId":"833532","publicURL":"https:\/\/servers.api.rackspacecloud.com\/v1.0\/833532","versionInfo":"https:\/\/servers.api.rackspacecloud.com\/v1.0","versionList":"https:\/\/servers.api.rackspacecloud.com\/","versionId":"1.0"}],"type":"compute"},{"name":"cloudDNS","endpoints":[{"tenantId":"833532","publicURL":"https:\/\/dns.api.rackspacecloud.com\/v1.0\/833532"}],"type":"rax:dns"},{"name":"cloudLoadBalancers","endpoints":[{"region":"ORD","tenantId":"833532","publicURL":"https:\/\/ord.loadbalancers.api.rackspacecloud.com\/v1.0\/833532"},{"region":"DFW","tenantId":"833532","publicURL":"https:\/\/dfw.loadbalancers.api.rackspacecloud.com\/v1.0\/833532"}],"type":"rax:load-balancer"},{"name":"cloudBackup","endpoints":[{"tenantId":"833532","publicURL":"https:\/\/backup.api.rackspacecloud.com\/v1.0\/833532"}],"type":"rax:backup"},{"name":"cloudServersOpenStack","endpoints":[{"region":"DFW","tenantId":"833532","publicURL":"https:\/\/dfw.servers.api.rackspacecloud.com\/v2\/833532","versionInfo":"https:\/\/dfw.servers.api.rackspacecloud.com\/v2","versionList":"https:\/\/dfw.servers.api.rackspacecloud.com\/","versionId":"2"},{"region":"ORD","tenantId":"833532","publicURL":"https:\/\/ord.servers.api.rackspacecloud.com\/v2\/833532","versionInfo":"https:\/\/ord.servers.api.rackspacecloud.com\/v2","versionList":"https:\/\/ord.servers.api.rackspacecloud.com\/","versionId":"2"}],"type":"compute"}],"user":{"id":"10038092","roles":[{"id":"3","description":"User
        Admin Role.","name":"identity:user-admin"},{"tenantId":"MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd","id":"5","description":"A
        Role that allows a user access to keystone Service methods","name":"object-store:default"},{"tenantId":"833532","id":"6","description":"A
        Role that allows a user access to keystone Service methods","name":"compute:default"}],"name":"<rackspace-login>","RAX-AUTH:defaultRegion":"ORD"}}}'
  recorded_at: Thu, 06 Jun 2013 19:31:59 GMT
- request:
    method: get
    uri: https://ord.servers.api.rackspacecloud.com/v2/833532/servers/detail
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 3139066374984c4ca8fa88f33e0c97fa
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-740d5f5c-3e29-4d72-b8e8-662ee32c4838
    body:
      encoding: UTF-8
      string: '{"servers": [{"status": "ACTIVE", "updated": "2013-06-06T19:31:51Z",
        "hostId": "466862cdb0f793edbd6d481880b74aa00c75b64384bb99588ba1862e", "addresses":
        {"public": [{"version": 4, "addr": "198.61.167.27"}, {"version": 6, "addr":
        "2001:4801:7817:0072:aa50:10b5:ff10:d098"}], "private": [{"version": 4, "addr":
        "10.177.15.28"}]}, "links": [{"href": "https://ord.servers.api.rackspacecloud.com/v2/833532/servers/fc421f5c-d5c0-4757-80a5-317b80d6a699",
        "rel": "self"}, {"href": "https://ord.servers.api.rackspacecloud.com/833532/servers/fc421f5c-d5c0-4757-80a5-317b80d6a699",
        "rel": "bookmark"}], "image": {"id": "9922a7c7-5a42-4a56-bc6a-93f857ae2346",
        "links": [{"href": "https://ord.servers.api.rackspacecloud.com/833532/images/9922a7c7-5a42-4a56-bc6a-93f857ae2346",
        "rel": "bookmark"}]}, "OS-EXT-STS:task_state": null, "OS-EXT-STS:vm_state":
        "active", "flavor": {"id": "2", "links": [{"href": "https://ord.servers.api.rackspacecloud.com/833532/flavors/2",
        "rel": "bookmark"}]}, "id": "fc421f5c-d5c0-4757-80a5-317b80d6a699", "user_id":
        "10038092", "name": "divine-reef", "created": "2013-06-06T19:27:01Z", "tenant_id":
        "833532", "OS-DCF:diskConfig": "AUTO", "accessIPv4": "198.61.167.27", "accessIPv6":
        "2001:4801:7817:72:aa50:10b5:ff10:d098", "progress": 100, "OS-EXT-STS:power_state":
        1, "metadata": {}}]}'
  recorded_at: Thu, 06 Jun 2013 19:31:59 GMT
- request:
    method: get
    uri: https://ord.servers.api.rackspacecloud.com/v2/833532/images/9922a7c7-5a42-4a56-bc6a-93f857ae2346
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 3139066374984c4ca8fa88f33e0c97fa
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-a52fc02e-285c-485e-999c-40ec8c053243
    body:
      encoding: UTF-8
      string: '{"image": {"status": "ACTIVE", "updated": "2013-04-26T19:32:27Z", "links":
        [{"href": "https://ord.servers.api.rackspacecloud.com/v2/833532/images/9922a7c7-5a42-4a56-bc6a-93f857ae2346",
        "rel": "self"}, {"href": "https://ord.servers.api.rackspacecloud.com/833532/images/9922a7c7-5a42-4a56-bc6a-93f857ae2346",
        "rel": "bookmark"}, {"href": "https://ord.images.api.rackspacecloud.com/833532/images/9922a7c7-5a42-4a56-bc6a-93f857ae2346",
        "type": "application/vnd.openstack.image", "rel": "alternate"}], "OS-DCF:diskConfig":
        "AUTO", "id": "9922a7c7-5a42-4a56-bc6a-93f857ae2346", "OS-EXT-IMG-SIZE:size":
        211452277, "name": "Ubuntu 13.04 (Raring Ringtail)", "created": "2013-04-26T13:33:22Z",
        "minDisk": 0, "progress": 100, "minRam": 512, "metadata": {"os_distro": "ubuntu",
        "com.rackspace__1__visible_core": "1", "com.rackspace__1__build_rackconnect":
        "1", "com.rackspace__1__options": "0", "image_type": "base", "cache_in_nova":
        "True", "com.rackspace__1__source": "kickstart", "org.openstack__1__os_distro":
        "com.ubuntu", "com.rackspace__1__release_build_date": "2013-04-25_17-03-56",
        "os_type": "linux", "auto_disk_config": "True", "com.rackspace__1__release_version":
        "2", "com.rackspace__1__release_state": "kickstart_qc_pass", "com.rackspace__1__visible_rackconnect":
        "1", "com.rackspace__1__release_id": "1005", "com.rackspace__1__visible_managed":
        "1", "com.rackspace__1__build_core": "1", "org.openstack__1__os_version":
        "13.04", "org.openstack__1__architecture": "x64", "com.rackspace__1__build_managed":
        "1"}}}'
  recorded_at: Thu, 06 Jun 2013 19:31:59 GMT
- request:
    method: get
    uri: https://ord.servers.api.rackspacecloud.com/v2/833532/flavors/2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 3139066374984c4ca8fa88f33e0c97fa
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-a1662a23-3f7a-4256-b61a-47998d011b39
    body:
      encoding: UTF-8
      string: '{"flavor": {"name": "512MB Standard Instance", "links": [{"href": "https://ord.servers.api.rackspacecloud.com/v2/833532/flavors/2",
        "rel": "self"}, {"href": "https://ord.servers.api.rackspacecloud.com/833532/flavors/2",
        "rel": "bookmark"}], "ram": 512, "vcpus": 1, "swap": 512, "rxtx_factor": 2.0,
        "OS-FLV-EXT-DATA:ephemeral": 0, "disk": 20, "id": "2"}}'
  recorded_at: Thu, 06 Jun 2013 19:32:00 GMT
recorded_with: VCR 2.5.0
