---
http_interactions:
- request:
    method: post
    uri: https://identity.api.rackspacecloud.com/v2.0/tokens
    body:
      encoding: UTF-8
      string: '{"auth":{"RAX-KSKEY:apiKeyCredentials":{"username":"<rackspace-login>","apiKey":"<rackspace-api-token>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token: []
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"access":{"token":{"id":"3139066374984c4ca8fa88f33e0c97fa","expires":"2013-06-07T12:10:26.714-05:00","tenant":{"id":"833532","name":"833532"}},"serviceCatalog":[{"name":"cloudFiles","endpoints":[{"region":"ORD","tenantId":"MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd","publicURL":"https:\/\/storage101.ord1.clouddrive.com\/v1\/MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd","internalURL":"https:\/\/snet-storage101.ord1.clouddrive.com\/v1\/MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd"},{"region":"DFW","tenantId":"MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd","publicURL":"https:\/\/storage101.dfw1.clouddrive.com\/v1\/MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd","internalURL":"https:\/\/snet-storage101.dfw1.clouddrive.com\/v1\/MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd"}],"type":"object-store"},{"name":"cloudFilesCDN","endpoints":[{"region":"ORD","tenantId":"MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd","publicURL":"https:\/\/cdn2.clouddrive.com\/v1\/MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd"},{"region":"DFW","tenantId":"MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd","publicURL":"https:\/\/cdn1.clouddrive.com\/v1\/MossoCloudFS_558014f8-1c3d-44b9-a771-f42ace65e8dd"}],"type":"rax:object-cdn"},{"name":"cloudBlockStorage","endpoints":[{"region":"ORD","tenan[...]
[...]
- request:
    method: get
    uri: https://ord.loadbalancers.api.rackspacecloud.com/v1.0/833532/loadbalancers.json?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 3139066374984c4ca8fa88f33e0c97fa
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"loadBalancers":[{"name":"divine-reef","id":142739,"protocol":"HTTP","port":80,"algorithm":"RANDOM","status":"ACTIVE","timeout":30,"created":{"time":"2013-06-06T20:15:20Z"},"virtualIps":[{"address":"162.209.41.8","id":10079,"type":"PUBLIC","ipVersion":"IPV4"},{"address":"2001:4801:7901:0000:aa50:10b5:0000:0001","id":9111641,"type":"PUBLIC","ipVersion":"IPV6"}],"updated":{"time":"2013-06-06T20:15:25Z"},"nodeCount":1}]}'
  recorded_at: Thu, 06 Jun 2013 20:21:13 GMT
- request:
    method: post
    uri: https://ord.loadbalancers.api.rackspacecloud.com/v1.0/833532/loadbalancers/142739/nodes.json
    body:
      encoding: UTF-8
      string: '{"nodes":[{"address":"198.61.221.220","port":80,"condition":"ENABLED"}]}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 3139066374984c4ca8fa88f33e0c97fa
  response:
    status:
      code: 202
      message: 
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"nodes":[{"address":"198.61.221.220","id":365673,"type":"PRIMARY","port":80,"status":"ONLINE","condition":"ENABLED","weight":1}]}'
  recorded_at: Thu, 06 Jun 2013 20:21:14 GMT
recorded_with: VCR 2.5.0
